<h1 class="text-2xl p-4">Log in</h1>

<%= form_with(url: login_path, scope: :session, local: true, class: "p-4 mx-4 bg-gray-200") do |f| %>
  <%= f.label :email, class: "block"%>
  <%= f.email_field :email, class: "block" %>

  <%= f.label :password, class: "block" %>
  <%= f.password_field :password, class: "block" %>

  <%= f.submit "Log in", class: "bg-blue-600 hover:bg-blue-700 rounded-md shadow-md text-white p-2 mt-4" %>
<% end %>

<p class="p-4">New user? <%= link_to "Sign up", signup_path, class: "text-blue-600 underline" %></p>
