<h1 class="text-2xl p-4">Log in</h1>

<%= form_with(url: login_path, scope: :session, local: true, class: "p-4 mx-4 bg-gray-200") do |f| %>
  <%= f.label :email, class: "block"%>
  <%= f.email_field :email, class: "block" %>

  <%= f.label :password, class: "block" %>
  <%= f.password_field :password, class: "block" %>

  <%= f.submit "Log in" %>
<% end %>

<p class="p-4">New user? <%= link_to "Sign up", signup_path %></p>
