<%= form_with model: @book, local: true, class: "bg-white p-4 mx-4 w-fit" do |f| %>

  <% if @book.errors.any? %>
    <div>
      This form contains <%= pluralize(@book.errors.count, "error") %>.
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: "block" %>
  <%= f.text_field :name, class: "p-1 block bg-gray-100" %>

  <%= f.label :description, class: "block" %>
  <%= f.text_area :description, class: "p-1 block bg-gray-100 w-full" %>
  <div class="flex justify-center items-center">
  <%= f.submit class: "bg-blue-600 text-white rounded-md p-2 mt-2" %>
  </div>
<% end %>