<%= form_with url: bookuser_new_path, method: :post, class: "flex flex-col m-auto max-w-lg" do |form| %>

  <p>Enter the username (not email) of the user you would like to share this book with, and choose the role you would like the user to have for the book.</p>

  <input type="hidden" value="<%= @book.id %>" name="book_id">
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name, class: "border border-black" %>
  <div>
    <input type="radio" id="reader-role-radio-button" name="role" value="reader" checked>
    <label for="reader-role-radio-button">Reader</label>
  </div>
  <div>
    <input type="radio" id="editor-role-radio-button" name="role" value="editor">
    <label for="editor-role-radio-button">Editor</label>
  </div>
  <div>
    <input type="radio" id="owner-role-radio-button" name="role" value="owner">
    <label for="owner-role-radio-button">Owner</label>
  </div>
  <%= form.submit "Submit", class: "cursor-pointer w-fit m-auto text-white rounded shadow bg-blue-600 mt-4 p-2" %>
<% end %>