<% if @user.can_edit?(@book) %>

  <div class="flex justify-start">
    <section class="p-4">
    <h1 class="text-2xl mb-4">Editing book: '<%= @book.name %>'</h1>
      <div class="bg-white border border-black min-w-max p-4">
        <div class="flex items-center border-b border-black mb-4 pb-4">
          <h2 class="text-2xl">
            Edit or add articles:
          </h2>
          <%= link_to 'New top-level article', new_book_article_path(@book), class: "bg-blue-600 rounded-md text-white ml-4 p-2" %>
        </div>

        <ul>
          <% @book.top_level_articles.each do |top_level_article| %>
            <%= render partial: 'editor_article_tree_part', locals: {article: top_level_article} %>
          <% end %>
        </ul>
          
        
      </div>
    </section>
    
    <% if @user.owns_book?(@book) %>
      <section class="p-4">
        <h1 class="text-2xl mb-4">Book Details:</h1>
        <%= render partial: "form" %>
          
      </section>
    <% end %>
  </div>

  <div class="max-w-fit flex justify-between space-x-1.5 items-center p-4">
    <% if @user.owns_book?(@book) %>
      <button id="show-share-book-modal-btn" class="bg-blue-600 p-2 rounded-md text-white">Share Book</button>
      <%= link_to "Delete Book", book_path(@book), class: "p-2 rounded-md bg-red-600 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
      <%= link_to "Remove Book", "/bookuser/#{@user.book_users.find_by(book_id: @book.id).id}", class: "p-2 rounded-md bg-red-600 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>

  <%= render partial: "share_book_form", layout: "shared/modal", locals: {label: "share-book"} %>
  
  <script>
  document.getElementById("show-share-book-modal-btn").addEventListener('click', function() {
    document.getElementById('share-book-modal').style.display = "block";
  })

  document.getElementById("share-book-modal-close-btn").addEventListener('click', function() {
    document.getElementById('share-book-modal').style.display = "none";
  })

  </script>
<% else %>
  <h1 class="text-2xl p-4">As a reader of this book, you are not able to edit its articles, however you may remove it from your books.</h2>
  <div class="flex justify-center">
    <%= link_to "Remove Book", "/bookuser/#{@user.book_users.find_by(book_id: @book.id).id}", class: "p-2 rounded-md bg-red-600 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>