<div class="lg:grid lg:grid-cols-2">

  <section>
  <h1 class="p-4 text-2xl">Editing book: '<%= @book.name %>'</h1>
    <div class="bg-white border border-black mx-4 p-4 max-w-full">
      <h2 class="text-2xl border-b border-black pb-4 mb-4">
        Edit articles:
      </h2>

      <ul>
        <% @book.top_level_articles.each do |top_level_article| %>
          <%= render partial: 'editor_article_tree_part', locals: {article: top_level_article} %>
        <% end %>
      </ul>
        
      <%= link_to 'New top-level article', new_book_article_path(@book), class: "text-blue-600 underline" %>
    </div>
  </section>

  <section>
    <h1 class="p-4 text-2xl">Book details:</h1>
    <div class="bg-white border border-black mx-4 p-4 max-w-full flex items-center">
      <%= render 'form' %>
      <%= link_to "Delete book", book_path(@book), class: "p-2 ml-4 mt-4 rounded-md bg-red-600 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </section>
</div>