<div class="bg-white px-16 py-8 mx-16 my-8 min-h-screen shadow-md rounded-md">

  <div class="flex justify-start items-center border-b border-black pb-4">
    <h1 class="text-4xl">
      Your books:
    </h1>
    <a href="/books/new" class="bg-blue-600 rounded-md text-white p-2 ml-2">
      New book
    </a>
  </div>

  <ul class="mt-4">
    <% @books.each do |book| %>
      <li>

        <h3 class="text-2xl">
          <%= book.name %>
        </h3>

        <ul class="list-inside list-disc">
          <li>
            <%= book.description %>
          </li>

          <li>
            <%= book.is_public ? "Public book" : "Private book" %>
          </li>

          <li>
            Your role: <%= book.role(@user) %>
          </lI>

          <li><a class="underline text-blue-600" href="/books/<%= book.id %>">
            Read
          </a></li>

          <% if @user.can_edit?(book) %>
          <li><a class="underline text-blue-600" href="/books/<%= book.id %>/edit">
            Edit
          </a></li>
          <% else %>
            <%= link_to "Remove Book", "/bookuser/#{@user.book_users.find_by(book_id: book.id).id}", class: "p-2 rounded-md bg-red-600 text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>