<div class="p-4">

  <div class="flex justify-start items-center border-b border-black pb-4">
    <h1 class="text-4xl">
      Your Books:
    </h1>
    <a href="/books/new" class="bg-blue-600 rounded-md text-white p-2 ml-2">
      New book
    </a>
  </div>

  <ul class="mt-4">
    <% @books.each do |book| %>
      <li class="pb-4">
        <div class="flex justify-start items-center">
          <h3 class="text-2xl">
            <%= book.name %>
          </h3>

          <a class="text-md bg-blue-600 text-white px-2 py-1 rounded-md ml-4" href="/books/<%= book.id %>">
            Read
          </a>

          <% if @user.can_edit?(book) %>
            <a class="text-md bg-blue-600 text-white px-2 py-1 rounded-md ml-4" href="/books/<%= book.id %>/edit">
              Edit
            </a>
          <% else %>
            <%= link_to "Remove Book", "/bookuser/#{@user.book_users.find_by(book_id: book.id).id}", class: "text-md bg-red-600 text-white px-2 py-1 rounded-md ml-4", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </div>

        <ul class="list-inside list-disc">
          <li>
            <%= book.description %>
          </li>

          <li>
            <%= book.is_public ? "Public" : "Private" %>
          </li>

          <li>
            Your role: <%= book.role(@user) %>
          </lI>
        </ul>
      </li>
    <% end %>
  </ul>
</div>