<h1 class="px-4 pt-4 text-2xl"><%= @book.name %></h1>
<h2 class="px-4 pt-4 text-xl">
  <%= @book.description %>
  <a class="text-blue-600 underline" href="/books/<%= @book.id %>/edit">Edit</a>
</h2>

<div class="bg-white border border-black m-4 p-4 w-fit">
  <h3 class="text-lg">Articles:</h3>
  <ul>
    <% @book.top_level_articles.each do |top_level_article| %>
      <%= render partial: 'article_tree_part', locals: {article: top_level_article} %>
    <% end %>
  </ul>

  <%= link_to 'New article', new_book_article_path(@book), class: "text-blue-600 underline" %>
</div>
